@import '~@fluentui/react/dist/sass/References.scss';

.reduxExample {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  padding: 10px;

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      flex-direction: row;
      padding: 0 10px;
      margin: 0;

      .itemId {
        flex: 0 0 50px;
      }
      .itemText {
        flex: auto;
      }
      .itemDel {
        flex: 0 0 100px;
      }
    }
  }
}

.header {
  padding: 10px 0;
  margin: 0 0 10px 0;
  border-bottom:  1px solid #ccc;
}
.formAdd {
  padding: 10px 0;
  border-top:  1px solid #ccc;
  margin-top: 10px;
}
.completed {
  text-decoration: line-through;
}
.version {
  margin-top: 5px;
  text-align: center;
  color: #aaa;
}
.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}